{% from "./macros/macro.njk" import button %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COucou</title>
</head>
<body>
{{ 'hello' }}
<img src="assets/images/test.png"/>
{% for temp in [1, 2] %}
{#    {{ temp }}#}
    {% include './partials/test' + temp + '.njk' %}
{% endfor %}
<hr>
<p style="background: red">
{{ user }}
    {{ button('flop') }}
</p>
</body>
</html>